<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856485694389-ol0vr4soedo7uka8ldojr5q06g4eq70u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856485694389-ol0vr4soedo7uka8ldojr5q06g4eq70u</string>
	<key>API_KEY</key>
	<string>AIzaSyAT2-uIjhHdOVwtQnkcnD7obX2uJmoZVQM</string>
	<key>GCM_SENDER_ID</key>
	<string>856485694389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.antHill</string>
	<key>PROJECT_ID</key>
	<string>ant-hill-adf22</string>
	<key>STORAGE_BUCKET</key>
	<string>ant-hill-adf22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856485694389:ios:8caabfc6fafeaceb8327fc</string>
</dict>
</plist>